<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:comment><!--
    Following payload params are for PUT and POST required:
    * email
    * identifier
    * pid
    * appPid
--></f:comment>

    <div
        class="cps-proposal-app"
        id="cps-proposal-app"
        data-base="{base}"
        data-app-pid="{page.uid}"
        data-pid="{settings.storagePid}"
        data-identifier="{settings.storagePid}"
        data-formkit-id="{settings.formkitId}"
    >[APP - Proposal]</div>
    <f:comment><!--
    <f:asset.css
            identifier="cps-proposal-app-css"
            href="assets/cps-proposal-app/assets/styles/index.css"
    />
    <f:asset.script
            identifier="cps-proposal-app"
            crossorigin=""
            priority="false"
            type="module"
            src="assets/cps-proposal-app/assets/index.js"
    />
--></f:comment>
</f:section>

</html>
